@font-face {
  font-family: "iconfont"; /* Project id 4673398 */
  src: url('iconfont.woff2?t=1725522760212') format('woff2'),
       url('iconfont.woff?t=1725522760212') format('woff'),
       url('iconfont.ttf?t=1725522760212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha:before {
  content: "\e61a";
}

.icon-shanchuguanbicha2:before {
  content: "\e80b";
}

.icon-xiazai:before {
  content: "\e7bd";
}

.icon-cross:before {
  content: "\e605";
}

.icon-xiazai1:before {
  content: "\e635";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-shangchuanyunduan:before {
  content: "\e87b";
}

.icon-xiazai2:before {
  content: "\e612";
}

.icon-chahao1:before {
  content: "\e614";
}

.icon-close:before {
  content: "\e607";
}

.icon-xiazai3:before {
  content: "\e73a";
}

.icon-a-shangchuan1:before {
  content: "\ea5b";
}

.icon-shangchuan:before {
  content: "\e63d";
}

.icon-linedesign-12:before {
  content: "\e671";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-sousuo1:before {
  content: "\f143";
}

.icon-shijieyeshengdongwuri:before {
  content: "\e60e";
}

.icon-renkou:before {
  content: "\e67d";
}

.icon-sharpicons_hippo-:before {
  content: "\e786";
}

.icon-tianchongxing-:before {
  content: "\e629";
}

.icon-feiniao:before {
  content: "\e673";
}

.icon-zhongyingwenqiehuan-yingwen:before {
  content: "\e616";
}

.icon-zhongyingwenqiehuan-zhongwen:before {
  content: "\e617";
}

.icon-denglu:before {
  content: "\e604";
}

