@font-face {
  font-family: "iconfont"; /* Project id 4739444 */
  src: url('iconfont.woff2?t=1731570803027') format('woff2'),
       url('iconfont.woff?t=1731570803027') format('woff'),
       url('iconfont.ttf?t=1731570803027') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e601";
}

.icon-liebiao1:before {
  content: "\e66f";
}

.icon-liebiao2:before {
  content: "\e61f";
}

.icon-hengxian:before {
  content: "\e60b";
}

.icon-shouye:before {
  content: "\e609";
}

.icon-qitaguanli:before {
  content: "\e650";
}

.icon-chanpinzhongxin1:before {
  content: "\e618";
}

.icon-jishufuwushang2:before {
  content: "\e60a";
}

.icon-wode-guanyuwomen:before {
  content: "\e68e";
}

.icon-shuzihuajishufuwu:before {
  content: "\e653";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-shanchu:before {
  content: "\e792";
}

.icon-shanchu1:before {
  content: "\e699";
}

.icon-xinzeng:before {
  content: "\e66e";
}

.icon-shanchu2:before {
  content: "\e610";
}

.icon-shanchu3:before {
  content: "\e6e6";
}

.icon-shanchu4:before {
  content: "\e6ec";
}

.icon-tianjia:before {
  content: "\e607";
}

.icon-touxiang:before {
  content: "\e676";
}

